.navbar {
    width: 5rem; /* 80px / 16px = 5rem */
    height: 46.875rem; /* 750px / 16px = 46.875rem */
    padding: var(--mantine-spacing-md);
    display: flex;
    flex-direction: column;
    border-right: 0.0625rem solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4)); /* 1px / 16px = 0.0625rem */
}

.navbarMain {
    flex: 1;
    margin-top: 3.125rem; /* 50px / 16px = 3.125rem */
}

.link {
    width: 3.125rem; /* 50px / 16px = 3.125rem */
    height: 3.125rem; /* 50px / 16px = 3.125rem */
    border-radius: var(--mantine-radius-md);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;

    &:hover {
        background-color: rgb(56, 185, 255);
    }

    &[data-active] {
        &,
        &:hover {
            background-color: var(--mantine-color-blue-light);
            color: var(--mantine-color-blue-light-color);
        }
    }
}
